* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f3f6;
}

button {
    cursor: pointer;
    border: 0;
    color: #000;
    background: #ff002f2f;
    padding: 18px 32px;
    border-radius: 6px;
    font: 600 32px 'Montserrat';
    box-shadow: 0 6px 0 #ff0030;
    transition: .3s;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0 3px 0 #ff0030;
}